body {
	margin: 0;
}

div.container {
	margin: 0 auto;
	width: 800px;
}

div.outer {
	width: 200px;
	height: 200px;
	border: 10px dotted red;
	display: inline-block;
	margin: 10px;
}

div.inner {
	width: 200px;
	height: 200px;
	background-image: url('https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/iStock-177369626_1.jpg?itok=DyZrFgNX&resize=1100x1100');
	background-size: cover;
	background-position: center;
}

.one {
	position: relative;
	right: 10px;
	
}
.two {
	position: relative;
	bottom: 10px;
}
.three {
	position: relative;
	top: 10px;
	left: 10px;

}
